
<hr>
  <div class="sec2">
    <div class="text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
      autem voluptatibus accusamus, magnam quod illum quos!
      Sapiente  dolore neque,tempora laudantium eius illo
      perferendis fugit odio, quidem praesentium, non aliquam!
    </div>
    <div>
      <img class="homeimg" src="/assets/images/illustration-mockups.svg"/>
    </div>
  </div>
  <div>
    
      <ng-container *ngFor="let card of cards">
        <div class="cardbd">
        <div>
           <img class="cardimg" [src]="card.image"/> 
        </div>
        <div class="cardtext">
          <h1>{{ card.title }}</h1>
          <br>
          <div class="text">{{ card.body}}</div>
        </div>
      </div>
      </ng-container>
  </div>
  
  
